body {
  background:black;
  color:#00ffff;
  text-align:center;
  font-family:Arial;
}

#orb {
  margin:40px auto;
  width:150px;
  height:150px;
  border-radius:50%;
  background:radial-gradient(circle, cyan, blue);
}
